.Carousel{
    h1{
        font-size: 50px;
        font-weight: 600;
    }
    .slider{
        .firstSlide{
            color: #C28B00;
            font-size: 55px;
            font-weight: 600;
        }
        .secondSlide{
            color: #618C7B;
            font-size: 55px;
            font-weight: 600;
        }
        .thirdSlide{
            color: #0076D3;
            font-size: 55px;
            font-weight: 600;
        }
        .fourthSlide{
            color: #618C7B;
            font-size: 55px;
            font-weight: 600;
        }
    }
}