.ModifyProfile{
    .LeftColModifyProfile{
        flex-direction: column;
        margin-top: -50px;
    }
    .addImageDiv{
        position: relative;
        
        input{
            position: absolute;
            width: 100%;
            margin: 0 auto;
            opacity:0;
        }
        #addImageButton{
            position: absolute;
        }
    }
}