.detailCard{
    height: 600px;
    border-radius: 24px;
    box-shadow: 3px 3px 20px rgba(0,0,0,0.4);

    .detailCol{
        background-color: white;
        height: 600px;
        border-radius: 24px 0 0 24px;
        .detailImg{
            border-radius: 24px 0 0 24px;
        }
    }
    .detailCol2{
        background-color: white;
        height: 600px;
        border-radius: 0 24px 24px 0;
        .icons{
            font-size: 22px;
            margin: 0 8px;
            font-weight: 700;
        }
        .postTitle{
            font-size:20px;
            text-transform: capitalize;
            font-weight: 700;
            margin: 10px 8px;
        }
        .postDescription{
            margin: 8px 8px;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 5; 
            -webkit-box-orient: vertical;
        }
       .commentInput{
           width: 100%;
           border-radius: 16px;
           padding: 8px 8px;
           border: 2px solid #dadada;
           &:active{
               box-shadow: none;
               outline: none;
           }
           &:focus{
            box-shadow: none;
            outline: none;
           }
       }
       .commentsDiv{
           overflow-y: scroll;
           width: 100%;
           margin-top: 20px;
           position: relative;
           max-height: 100px;
           &::-webkit-scrollbar {
            display: none;
            }
       .singleCommentDiv{
        background-color: rgb(233, 233, 233);
        border-radius: 20px;
        padding: 5px;
        width: 100%;
        position: relative;
        margin: 10px 0 0 0;
        div{
            flex-direction: column;
        }
       }
    }
    }
}
