.NavBar{
    background-color: white!important;
    z-index: 200!important;
    .navbar-link{
        padding: 7px 20px;
        color: black;
        font-weight: 500;
        border-radius: 20px;
        text-decoration: none;
        transition: all .3s ease-out;
    }
    .selected{
        background-color: black;
        border-radius: 20px;
        color: white!important;
        text-decoration: none;
        font-weight: 500;
        box-shadow: 1px 1px 6px rgba(0,0,0,0.1);
        transition: all .3s ease-in-out;
    }
    #searchField{
        width: 480px!important;
        z-index: 200;
    }
    .NavBarIcon{
        font-size: 23px;
    }
}


.backdrop{
    content: '';
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color:rgba(209, 208, 208, 0.2);
    animation: fadeIn; 
}

.blur{
    content: '';
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    filter: blur(3px);
    animation: fadeIn; 
}
